{% extends "header.html" %}
{% block content %}
<body>

    <p style="text-align: center; color: red;">{{message}}</p>
    <h1 style="text-align: center;">Reset Password</h1>
    <form style="text-align: center;" , action="" , method="post">
        {{ form.csrf_token }}

        <p>
            {{form.current_password.label}}<br>
            {{form.current_password(**{'data-toggle': 'test'})}}<br>
        </p>
        <p>
            {{form.new_password.label}}<br>
            {{form.new_password()}}<br>
        </p>
        <p>
            {{form.confirm_new_password.label}}<br />
            {{form.confirm_new_password()}}<br />
        </p>
        <p> {{form.submit()}}</p>
        {% if form.errors %}
        <ul class="errors">
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </form>

</body>
{% endblock %}